.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.login {
    background-color: #cb3b3b;
    border-radius: 20px;
    width: 100px;
}

.login:hover {
    background-color: #071a52;
    color: white;
}

.color {
    transition: text-decoration 0.3s;
}

.color:hover {
    color: #071e3d !important;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: #17b978;
}